
<div class="container" id="homeSummary">
    <h2 id="homeTitle"> Herman Munster Transaction Summary </h2>
    <div class="row align-items-center">
        <div class="col" id="income">
            <h4> Total Income </h4>
            <p>${{income}}</p>
        </div>
        <div class="col" id="expense">
            <h4> Total Expenses </h4>
            <p>${{expenses}}</p>
        </div>
        <div class="col" id="balance">
            <h4> Balance</h4>
            <p> ${{balance}}</p>
        </div>
    </div>
</div>
